#main-content {
    width: 100%;
}

#background {
    position: relative;
    opacity: 60%;
}

#background img {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.container {
    position: relative;
}

#logo {
    position: absolute;
    top: 0;
    left: 7%;
}

#logo img {
    width: 70%;
}

#menu {
    position: absolute;
    top: 2%;
    right: 3%;
}


#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.menu-content {
    display: inline-block;
    margin-left: 3%;
}

#menu ul li a {
    text-decoration: none;
    font-weight: bold;
}

#slogan {
    font-size: 600%;
    color: #ed14d7;
    position: absolute;
    top: 54%;
    left: 7%;
    font-family: Gelasio;
    font-weight: bold;
}

#title {
    position: absolute;
    top: 49%;
    left: 7%;
    color: black;
    font-weight: bold;
}

.wrapper {
    /* This part is important for centering */
    display: grid;
    place-items: center;
}

.typing-demo {
    white-space: nowrap;
    overflow: hidden;
}

#btn-buynow {
    position: absolute;
    top: 71%;
    left: 7%;
}

.wrap-box {
    position: absolute;
    width: 89%;
    height: 97px;
    top: 80%;
    left: 7%;
}

.size-box-detail {
    position: absolute;
    width: 250px;
    height: 97px;
    background-color: black;
    opacity: 0.3;
}

.box-2 {
    left: 38%;
}

.box-3 {
    left: 75%;
}

.quality-img-1 {
    left: 7.5%;
}

.quality-img-2 {
    left: 41.5%;
}

.quality-img-3 {
    left: 75%;
}

.quality {
    position: absolute;
    top: 82%;
    width: 53px;
    height: 53px;
}

.title-1 {
    left: 7%;
}

.title-2 {
    left: 44%;
}

.title-3 {
    left: 83%;
}

.title {
    position: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    word-wrap: break-word;
    margin-top: 1%;
}

.title-all-3 {
    inline-size: 20%;
}

.watch_more {
    color: red;
    font-size: 15px;
    position: inherit;
    margin-top: 6%;
}

.watch_more-1 {
    left: 7%;
}

.watch_more-2 {
    left: 44%;
}

.watch_more-3 {
    left: 83%;
}

.submenu-content {
    display: none;
    width: 103px;
    position: absolute;
    top: 80%;
    left: 77%;
    background-color: #ffffff;
    padding: 10px;
  }
  
  .submenu-content li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
  }
  
  .sub-menu:hover .submenu-content {
    display: block;
  }

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}